* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 5vh;
    font-weight: bold;
    font-family: "Lora", serif;
    color: rgb(93, 255, 201);
    background-image: linear-gradient(75deg, #5bb2ff, #5b00a0);
    column-gap: 10vh;
    text-align: center;
    align-items: center;
}

.container {
    flex-direction: row;
}

canvas {
    width: 90vw;
    height: 40vh;
}
